<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Topics</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/bestStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >Best Stories</a
      >
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/newStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >New Stories</a
      >
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/topStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >Top Stories</a
      >
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/showStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >Show Stories</a
      >
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/askStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >Ask Stories</a
      >
      <a
        mat-list-item
        class="mat-list-item-content"
        [routerLink]="['/jobStories']"
        routerLinkActive="router-link-active"
        (click)="drawer.toggle()"
        >Jobs</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tech News</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
