/* card details + basic styling */
.item-details-container .item-details {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.item-details-container .item-details div {
  color: lightslategray;
  width: 33%;
  margin: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.item-details-container .item-details div .mat-icon {
  font-size: inherit;
}
