<mat-spinner *ngIf="fetchingJobs"></mat-spinner>
<div *ngFor="let job of jobs$">
  <mat-card class="shadoweffect">
    <mat-card-header>
      <mat-card-title class="title">{{ job.title }}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>account_circle</mat-icon> {{ job.by }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>schedule</mat-icon> {{ job.time * 1000 | date }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>stars</mat-icon>
        {{ job.score }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions
      *ngIf="job.url !== undefined || job.url !== ''"
      class="action-buttons"
    >
      <a mat-button color="primary" href="{{ job.url }}">
        <mat-icon>description</mat-icon> Visit Job Posting
      </a>
    </mat-card-actions>
    <mat-card-content [innerHTML]="job.text"> </mat-card-content>
  </mat-card>
</div>
